# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual environment
Lib/
Scripts/
Include/
pyvenv.cfg

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Compiled shaders
*.spv
*.dxil
*.dxbc
